@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Web Game</h1>
    <p class="lead">다양한 게임을 웹으로 체험하세요.</p>

</div>

<div class="row">
    <div class="col-md-4">
        <h2>Sign In</h2>
        <p>
            로그인 하여 다양한 게임에 참여해 보세요!
        </p>
        <p><a class="btn btn-default" href="/Home/Login">Sign In Page &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Sign Up</h2>
        <p>계정이 없다면 만들어 보세요.</p>
        <p><a class="btn btn-default" href="/Home/Signup">Sign Up page &raquo;</a></p>
    </div>
</div>